{% extends 'sitemgr/pages/index.html' %}
{% load i18n %}

<style>
{% block css_code %}
{{ block.super }}

.form-signin .form-control {padding: 10px; font-size: 14px;}
.form-signin .form-control:focus {z-index: 2;}
.form-signin input[type="text"] {}
.form-signin input[type="password"] {}

{% endblock css_code %}
</style>


{% block title %}{% trans "Log in" %}{% endblock %}

{% block content_inner %}

{% if request.user.is_authenticated %}

{% block condition %}
<div class="text-center mb-5 mt-5">
	<h3 class="display-4 mb-5">{% trans "Already in!" %}</h3>

	{% if next %}
		<div class="">
			<a href="{{ next }}" class="btn btn-primary mt-3">{% trans "Keep browsing" %}</a>	
		</div>
	{% endif %}

	<a href="{% url 'accounts:logout' %}" class="btn btn-outline-primary mt-3">{% trans "Sign out" %}</a>

</div>
{% endblock condition %}

{% else %}

<div class="container">
<div class="row">

	<div class="col-md-6 offset-md-3">

		{% include 'forms/msgs.html' %}

		<div class="my-5">
		{% block form %}

		<form class="form form-signin" method="post" action="{% url 'accounts:login' %}">{% csrf_token %}

			<div class="d-flex align-items-center justify-content-between px-4">
				<div class="">
					<span class="lead">{% trans "Sign in" %}</span>
					{% if next %}
					<div class="">{% trans "to see this page" %}</div>
					{% endif %}
				</div>

				<div>{% trans "or" %} <a class="text-primary" href="{% url 'accounts:register' %}">{% trans "create an account" %}</a></div>
			</div>

			<div class="card-body mt-3">

				<label for="username" class="sr-only">{% trans "Username" %}</label>
				<input type="text" name="username" id="username" class="form-control {% if form.username.errors %}is-invalid{% endif %} mb-4" placeholder="Username" required autofocus>

				<label for="password" class="sr-only">{% trans "Password" %}</label>
				<input type="password" name="password" id="password" class="form-control mb-4" placeholder="Password" required>

				<button type="submit" class="btn btn-primary btn-block">{% trans "Sign in" %}</button>

				<input type="hidden" name="next" value="{{ next }}" />

			</div>
		</form>

		<div class="card-body text-center">
			<a href="{% url 'accounts:password_reset' %}">{% trans "Forgot your password?" %}</a>
		</div>

		{% endblock form %}
		</div>
	</div>

</div>

</div>

{% endif %}

{% endblock content_inner %}













