{% extends 'sitemgr/pages/index.html' %}

{% block title %}Reset Confirmation{% endblock %}


{% block content_inner %}
<div class="mb-4 lead">
	{% if validlink %}Confirm reset{% else %}Password reset failed{% endif %}
</div>

<div class="my-5 mx-4">

	{% if validlink %}
		<p>Please enter (and confirm) your new password.</p>
	
		<form action="." method="post" class="">{% csrf_token %}
			{% include 'forms/label.html' %}
			<p class="">
				<input class="btn btn-primary text-uppercase" type="submit" value="Next">
			</p>
			
			<input class="" type="hidden" name="Confirm" value="{{ next }}" />
		</form>
	{% else %}
	
		<div class="text-center">
			<p class="mb-3">The password reset link was invalid, possibly because it has already been used or expired.</p>

			<a href="{% url 'accounts:password_reset' %}" class="btn btn-primary text-uppercase">request a new password</a>
		</div>

    {% endif %}

</div>
{% endblock content_inner %}