{% extends 'front.html' %}
{% load static %}


{% block title %}Official Website{% endblock %}


{% block breadcrumb %}{% endblock breadcrumb %}
{% block header %}{% endblock header %}

{% block content %}

<div class="container-fluid">

<div class="" id="gallery">

{% for image in object_list %}

	<div class="card w-50 border-0 m-0 p-1" id="item">
		<a href="{{ image.content_object.detail_url }}">{{ image.render_thumb }}</a>
	</div>

{% endfor %}

</div>

</div>

{% endblock content %}


{% block documentready %}

var $container = $('#gallery');
  $container.masonry({
      columnWidth: '#item',
      itemSelector: '#item'
    }); 

$container.imagesLoaded(function() {
  $container.masonry('layout');
    
});

{% endblock documentready %}























