
<nav class="d-flex justify-content-between align-items-center fixed-top border-bottom" role="navigation" style="background-color: white;">

    <div class="d-flex flex-row align-items-center">
        <button type="button" class="btn border-0" data-toggle="modal" data-target="#side-modal" aria-expanded="false" aria-label="Toggle navigation" id="nav-toggle">
            <span  data-feather="align-left"></span>
        </button>

        <div class="d-none d-md-block d-lg-block">MarQetIntl</div>

    </div>

    {% include 'components/navbar-icons.html' %}
</nav>
