{% extends 'blog/article-base.html' %}
{% load img_tags %}

{% block article_content %}

<div class="d-flex flex-column">
    <div class="{% if article.text_first %}order-2{% endif %}">
        <div class="d-flex flex-row flex-wrap">
        {% for image in article.images.all %}
            <div class="col-md-6">{% include 'blog/article-detail-image.html' %}</div>
        {% endfor %}
        </div>
    </div>

    <div class="d-flex flex-md-row flex-column">
        {% include 'blog/article-detail-content.html' %}
    </div>
</div>
{% endblock article_content %}

